body{
    font: 15px/1.5 Arial, HelveticaNeue,SansSerif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 0px;
}
canvas {
    display: block;
    vertical-align: bottom;
}
#intro {
    position: relative;
    background: white url("../images/8604.jpg") center fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    text-align:center;
    color: white;
}
.footer {
    height: 50vh;
    position: relative;
    background: white url("../images/8604.jpg") center fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    text-align:center;
    color: white;
}
#experiences {
    width: 100%;
    background: white url("../images/experience.jpg") center;
    background-size: cover;
    position: relative;
    text-align:center;
    overflow: hidden;
    margin: 0;
}
#hobbies {
    width: 100%;
    background: white url("../images/hobbies.jpg") center;
    background-size: cover;
    position: relative;
    text-align:center;
    color: white;
    overflow: hidden;
    margin: 0;
}

#particles-js {
    width: 100%;
    position: absolute;
}

#particles-js-footer {
    width: 100%;
    position: absolute;
    height: auto;
}
.description_body {
    position: relative;
    margin-top: 100px;
}
.description_text{
    padding: 50px;
    text-align: left;
    font-size: 20px;
}
.description-title {
    margin-top: 100px;
    margin-bottom: 20%;
    position: relative;
    font-family: "Raleway";
}

#profile_photo {
    width: 100%;
}

.spacebottom {
    margin-bottom: 20px;
}
.aligncenter {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

.team-box {
    background: #fbfbfb;
    width: 80%;
    margin: auto;
    padding: 20px 20px 30px;
    -webkit-border-radius: 6px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
